---
import { getCollection } from 'astro:content';
import type { GetStaticPathsOptions } from 'astro';

import Container from '../../components/Container.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
import PaginationNav from '../../components/PaginationNav.astro';

import { POST_PER_PAGE } from '../../consts';

export async function getStaticPaths({ paginate } : GetStaticPathsOptions) {
  const posts = await getCollection('posts');
  return paginate(posts, { pageSize: POST_PER_PAGE });
}

const { page } = Astro.props;
---


<BaseLayout title="Addin Munawwar's Space">
	<main class="flex justify-center grow">
		<Container>		
			<div class="relative">
				<h1 class="text-center">The blog</h1>
				<!-- search icon -->
			</div>
			<!-- filter options -->
			<h2>All Posts</h2>
			<PaginationNav nextUrl={page.url.next} prevUrl={page.url.prev}/>
			<div class="flex flex-col gap-6">
				{
					page.data.map((post) => (
						<BlogPost
							title={post.data.title}
							targetUrl={`/posts/${post.slug}`}
							imgPath={post.data.image.path}
							pubDate={post.data.pubDate}
							tags={post.data.tags}
						/>
					))
				}
			</div>
			<PaginationNav nextUrl={page.url.next} prevUrl={page.url.prev}/>
		</Container>
	</main>
</BaseLayout>
