---
import BlogImage from './BlogImage.astro';
import FormattedDate from './FormattedDate.astro';
import { getURLByPostTag } from '../utils/mainUtils';

interface Props {
    title: string;
    targetUrl: string;
    imgPath: string;
    pubDate: Date;
    tags: Array<string>;
}

const { title, targetUrl, imgPath, pubDate, tags } = Astro.props;
---

<div class="relative">
    <div class="absolute w-full h-full bg-black opacity-75"></div>
    <BlogImage imgPath={imgPath} alt={title}/> 
    <div class="absolute bottom-0 p-6 z-10 flex flex-col">
        <h3 class="font-bold">
            <a href={targetUrl} class="text-white no-underline">
                {title}
            </a>
        </h3>
        <FormattedDate date={pubDate} />
        <div>
            {
                tags.map((tag, idx) => {
                    const href = getURLByPostTag(tag);
                    return (
                        <span>
                            <a href={href} class="text-xs text-white">{tag}</a>{idx != (tags.length - 1) ? ', ' : ''}
                        </span>
                    )
                }
                )
            }
        </div>
    </div>

</div>